Repository enterprise-sales-institute/identity-matrix---fe-1-cr0s2u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @backend-team, @security-team, @frontend-team, @devops-team

.github/CODEOWNERS:

* @global-maintainers

# Backend codebase ownership
/src/backend/* @backend-team
/src/backend/src/config/* @security-team @backend-team
/src/backend/src/services/auth/* @security-team @backend-team
/src/backend/src/security/* @security-team

# Frontend codebase ownership
/src/web/* @frontend-team

# Infrastructure and deployment
/infrastructure/* @devops-team
/.github/workflows/* @devops-team @security-team
*.tf @devops-team @security-team
*.yaml @devops-team

# Security-sensitive files
package*.json @security-team
*.env.* @security-team @devops-team

# Documentation ownership
/docs/* @global-maintainers @backend-team @frontend-team

# Test ownership follows implementation ownership
/src/backend/tests/* @backend-team
/src/web/tests/* @frontend-team

# API contracts require cross-team review
/src/backend/src/api/* @backend-team @frontend-team

# Database migrations require extra scrutiny
/src/backend/src/migrations/* @backend-team @security-team @devops-team

# Shared utilities and common code
/src/shared/* @backend-team @frontend-team

# Security policy and compliance documents
/SECURITY.md @security-team
/COMPLIANCE.md @security-team

# Build and dependency configurations
/docker/* @devops-team
/kubernetes/* @devops-team
/.dockerignore @devops-team
/docker-compose*.yml @devops-team

# CI/CD and automation
/.github/actions/* @devops-team
/.github/CODEOWNERS @security-team @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/services/integration/integration.service.ts
  src/backend/src/services/integration/integration.service.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/services/queue/queue.service.ts
  src/backend/src/services/queue/queue.service.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/services/team/team.service.ts
  src/backend/src/services/team/team.service.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/services/tracking/activity.service.ts
  src/backend/src/services/tracking/activity.service.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/services/tracking/tracking.service.ts
  src/backend/src/services/tracking/tracking.service.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/services/visitor/visitor.service.ts
  src/backend/src/services/visitor/visitor.service.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/utils/crypto.util.ts
  src/backend/src/utils/crypto.util.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/utils/date.util.ts
  src/backend/src/utils/date.util.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/utils/error.util.ts
  src/backend/src/utils/error.util.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/utils/logger.util.ts
  src/backend/src/utils/logger.util.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/utils/validation.util.ts
  src/backend/src/utils/validation.util.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/websocket/socket.service.ts
  src/backend/src/websocket/socket.service.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/websocket/handlers/activity.handler.ts
  src/backend/src/websocket/handlers/activity.handler.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/websocket/handlers/visitor.handler.ts
  src/backend/src/websocket/handlers/visitor.handler.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/tests/integration/auth.test.ts
  src/backend/tests/integration/auth.test.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/tests/integration/company.test.ts
  src/backend/tests/integration/company.test.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/tests/integration/integration.test.ts
  src/backend/tests/integration/integration.test.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/tests/integration/team.test.ts
  src/backend/tests/integration/team.test.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/tests/integration/visitor.test.ts
  src/backend/tests/integration/visitor.test.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/tests/unit/services/auth.service.test.ts
  src/backend/tests/unit/services/auth.service.test.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/tests/unit/services/company.service.test.ts
  src/backend/tests/unit/services/company.service.test.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/tests/unit/services/identity.service.test.ts
  src/backend/tests/unit/services/identity.service.test.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/tests/unit/services/integration.service.test.ts
  src/backend/tests/unit/services/integration.service.test.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/tests/unit/services/team.service.test.ts
  src/backend/tests/unit/services/team.service.test.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/tests/unit/services/visitor.service.test.ts
  src/backend/tests/unit/services/visitor.service.test.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/.env.example
  src/web/.env.example
Owners: @security-team, @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @frontend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/package.json
  src/web/package.json
Owners: @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/src/assets/fonts/FiraCode/FiraCode-Regular.woff2
  src/web/src/assets/fonts/FiraCode/FiraCode-Regular.woff2
Owners: @global-maintainers
