Repository enterprise-sales-institute/identity-matrix---fe-1-cr0s2u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @backend-team, @security-team, @frontend-team, @devops-team

.github/CODEOWNERS:

* @global-maintainers

# Backend codebase ownership
/src/backend/* @backend-team
/src/backend/src/config/* @security-team @backend-team
/src/backend/src/services/auth/* @security-team @backend-team
/src/backend/src/security/* @security-team

# Frontend codebase ownership
/src/web/* @frontend-team

# Infrastructure and deployment
/infrastructure/* @devops-team
/.github/workflows/* @devops-team @security-team
*.tf @devops-team @security-team
*.yaml @devops-team

# Security-sensitive files
package*.json @security-team
*.env.* @security-team @devops-team

# Documentation ownership
/docs/* @global-maintainers @backend-team @frontend-team

# Test ownership follows implementation ownership
/src/backend/tests/* @backend-team
/src/web/tests/* @frontend-team

# API contracts require cross-team review
/src/backend/src/api/* @backend-team @frontend-team

# Database migrations require extra scrutiny
/src/backend/src/migrations/* @backend-team @security-team @devops-team

# Shared utilities and common code
/src/shared/* @backend-team @frontend-team

# Security policy and compliance documents
/SECURITY.md @security-team
/COMPLIANCE.md @security-team

# Build and dependency configurations
/docker/* @devops-team
/kubernetes/* @devops-team
/.dockerignore @devops-team
/docker-compose*.yml @devops-team

# CI/CD and automation
/.github/actions/* @devops-team
/.github/CODEOWNERS @security-team @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/src/utils/format.util.ts
  src/web/src/utils/format.util.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/src/utils/storage.util.ts
  src/web/src/utils/storage.util.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/src/utils/theme.util.ts
  src/web/src/utils/theme.util.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/web/src/utils/validation.util.ts
  src/web/src/utils/validation.util.ts
Owners: @global-maintainers

Initial Setup
  src/web/package-lock.json
  src/web/package.json
  src/web/tsconfig.json
Owners: @security-team, @frontend-team

BugFix: Automated bug fixes for src/web/src/constants/api.constants.ts
  src/web/src/constants/api.constants.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/config/api.config.ts
  src/web/src/config/api.config.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/constants/theme.constants.ts
  src/web/src/constants/theme.constants.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/services/api.service.ts
  src/web/src/services/api.service.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/types/theme.types.ts
  src/web/src/types/theme.types.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/services/auth.service.ts
  src/web/src/services/auth.service.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/store/auth/auth.slice.ts
  src/web/src/store/auth/auth.slice.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/styles/theme.styles.ts
  src/web/src/styles/theme.styles.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/store/auth/auth.thunks.ts
  src/web/src/store/auth/auth.thunks.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/config/websocket.config.ts
  src/web/src/config/websocket.config.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/components/atoms/Icon/Icon.tsx
  src/web/src/components/atoms/Icon/Icon.tsx
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/components/molecules/NavigationItem/NavigationItem.styles.ts
  src/web/src/components/molecules/NavigationItem/NavigationItem.styles.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/hooks/useAuth.ts
  src/web/src/hooks/useAuth.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/services/websocket.service.ts
  src/web/src/services/websocket.service.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/components/atoms/Button/Button.styles.ts
  src/web/src/components/atoms/Button/Button.styles.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/services/team.service.ts
  src/web/src/services/team.service.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/hooks/useTheme.ts
  src/web/src/hooks/useTheme.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/components/molecules/NavigationItem/NavigationItem.tsx
  src/web/src/components/molecules/NavigationItem/NavigationItem.tsx
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/store/visitors/visitors.slice.ts
  src/web/src/store/visitors/visitors.slice.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/hooks/useWebSocket.ts
  src/web/src/hooks/useWebSocket.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/services/visitor.service.ts
  src/web/src/services/visitor.service.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/services/integration.service.ts
  src/web/src/services/integration.service.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/components/molecules/IntegrationCard/IntegrationCard.styles.ts
  src/web/src/components/molecules/IntegrationCard/IntegrationCard.styles.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/hooks/useTeam.ts
  src/web/src/hooks/useTeam.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/components/organisms/TeamTable/TeamTable.styles.ts
  src/web/src/components/organisms/TeamTable/TeamTable.styles.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/components/organisms/Header/Header.tsx
  src/web/src/components/organisms/Header/Header.tsx
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/components/atoms/Input/Input.styles.ts
  src/web/src/components/atoms/Input/Input.styles.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/hooks/useVisitorData.ts
  src/web/src/hooks/useVisitorData.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/hooks/useIntegration.ts
  src/web/src/hooks/useIntegration.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/components/molecules/IntegrationCard/IntegrationCard.tsx
  src/web/src/components/molecules/IntegrationCard/IntegrationCard.tsx
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/components/organisms/IntegrationGrid/IntegrationGrid.styles.ts
  src/web/src/components/organisms/IntegrationGrid/IntegrationGrid.styles.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/components/templates/AuthLayout/AuthLayout.styles.ts
  src/web/src/components/templates/AuthLayout/AuthLayout.styles.ts
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/src/components/atoms/Card/Card.tsx
  src/web/src/components/atoms/Card/Card.tsx
Owners: @global-maintainers

BugFix: Automated bug fixes for src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/package.json
  src/web/package.json
Owners: @security-team
