Repository enterprise-sales-institute/identity-matrix---fe-1-cr0s2u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @backend-team, @security-team, @frontend-team, @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/modules/elasticache/main.tf
  infrastructure/terraform/modules/elasticache/main.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/modules/elasticache/outputs.tf
  infrastructure/terraform/modules/elasticache/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/modules/elasticache/variables.tf
  infrastructure/terraform/modules/elasticache/variables.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/.env.example
  src/backend/.env.example
Owners: @security-team, @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/.eslintrc.ts
  src/backend/.eslintrc.ts
Owners: @backend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/package.json
  src/backend/package.json
Owners: @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/app.ts
  src/backend/src/app.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/server.ts
  src/backend/src/server.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/api/controllers/auth.controller.ts
  src/backend/src/api/controllers/auth.controller.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/api/controllers/company.controller.ts
  src/backend/src/api/controllers/company.controller.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/api/controllers/integration.controller.ts
  src/backend/src/api/controllers/integration.controller.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/api/controllers/team.controller.ts
  src/backend/src/api/controllers/team.controller.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/api/controllers/visitor.controller.ts
  src/backend/src/api/controllers/visitor.controller.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/api/middlewares/auth.middleware.ts
  src/backend/src/api/middlewares/auth.middleware.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/api/middlewares/error.middleware.ts
  src/backend/src/api/middlewares/error.middleware.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/api/middlewares/logging.middleware.ts
  src/backend/src/api/middlewares/logging.middleware.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/api/middlewares/rateLimiter.middleware.ts
  src/backend/src/api/middlewares/rateLimiter.middleware.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/api/middlewares/validation.middleware.ts
  src/backend/src/api/middlewares/validation.middleware.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/api/routes/auth.routes.ts
  src/backend/src/api/routes/auth.routes.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/api/routes/company.routes.ts
  src/backend/src/api/routes/company.routes.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/api/routes/integration.routes.ts
  src/backend/src/api/routes/integration.routes.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/api/routes/team.routes.ts
  src/backend/src/api/routes/team.routes.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/api/routes/visitor.routes.ts
  src/backend/src/api/routes/visitor.routes.ts
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/src/backend/src/api/validators/auth.validator.ts
  src/backend/src/api/validators/auth.validator.ts
Owners: @global-maintainers

.github/CODEOWNERS:

* @global-maintainers

# Backend codebase ownership
/src/backend/* @backend-team
/src/backend/src/config/* @security-team @backend-team
/src/backend/src/services/auth/* @security-team @backend-team
/src/backend/src/security/* @security-team

# Frontend codebase ownership
/src/web/* @frontend-team

# Infrastructure and deployment
/infrastructure/* @devops-team
/.github/workflows/* @devops-team @security-team
*.tf @devops-team @security-team
*.yaml @devops-team

# Security-sensitive files
package*.json @security-team
*.env.* @security-team @devops-team

# Documentation ownership
/docs/* @global-maintainers @backend-team @frontend-team

# Test ownership follows implementation ownership
/src/backend/tests/* @backend-team
/src/web/tests/* @frontend-team

# API contracts require cross-team review
/src/backend/src/api/* @backend-team @frontend-team

# Database migrations require extra scrutiny
/src/backend/src/migrations/* @backend-team @security-team @devops-team

# Shared utilities and common code
/src/shared/* @backend-team @frontend-team

# Security policy and compliance documents
/SECURITY.md @security-team
/COMPLIANCE.md @security-team

# Build and dependency configurations
/docker/* @devops-team
/kubernetes/* @devops-team
/.dockerignore @devops-team
/docker-compose*.yml @devops-team

# CI/CD and automation
/.github/actions/* @devops-team
/.github/CODEOWNERS @security-team @global-maintainers
