Repository enterprise-sales-institute/identity-matrix---fe-1-cr0s2u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @backend-team, @security-team, @frontend-team, @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/.github/dependabot.yml
  .github/dependabot.yml
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @global-maintainers

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/backend/deployment.yaml
  infrastructure/kubernetes/backend/deployment.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/backend/hpa.yaml
  infrastructure/kubernetes/backend/hpa.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/backend/ingress.yaml
  infrastructure/kubernetes/backend/ingress.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/backend/service.yaml
  infrastructure/kubernetes/backend/service.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/base/configmap.yaml
  infrastructure/kubernetes/base/configmap.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/base/secrets.yaml
  infrastructure/kubernetes/base/secrets.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/base/storage.yaml
  infrastructure/kubernetes/base/storage.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/frontend/deployment.yaml
  infrastructure/kubernetes/frontend/deployment.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/frontend/hpa.yaml
  infrastructure/kubernetes/frontend/hpa.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/frontend/ingress.yaml
  infrastructure/kubernetes/frontend/ingress.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/frontend/service.yaml
  infrastructure/kubernetes/frontend/service.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/logging/elasticsearch.yaml
  infrastructure/kubernetes/logging/elasticsearch.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/logging/fluentd.yaml
  infrastructure/kubernetes/logging/fluentd.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/logging/kibana.yaml
  infrastructure/kubernetes/logging/kibana.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/monitoring/alertmanager.yaml
  infrastructure/kubernetes/monitoring/alertmanager.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/monitoring/grafana.yaml
  infrastructure/kubernetes/monitoring/grafana.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/monitoring/prometheus.yaml
  infrastructure/kubernetes/monitoring/prometheus.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/monitoring/servicemonitor.yaml
  infrastructure/kubernetes/monitoring/servicemonitor.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/security/networkpolicy.yaml
  infrastructure/kubernetes/security/networkpolicy.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/security/podsecuritypolicy.yaml
  infrastructure/kubernetes/security/podsecuritypolicy.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/kubernetes/security/rbac.yaml
  infrastructure/kubernetes/security/rbac.yaml
Owners: @devops-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/provider.tf
  infrastructure/terraform/provider.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/modules/documentdb/main.tf
  infrastructure/terraform/modules/documentdb/main.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/modules/documentdb/outputs.tf
  infrastructure/terraform/modules/documentdb/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/modules/documentdb/variables.tf
  infrastructure/terraform/modules/documentdb/variables.tf
Owners: @devops-team, @security-team

Add public-samples/identity-matrix---fe-1-cr0s2u/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @devops-team, @security-team

.github/CODEOWNERS:

* @global-maintainers

# Backend codebase ownership
/src/backend/* @backend-team
/src/backend/src/config/* @security-team @backend-team
/src/backend/src/services/auth/* @security-team @backend-team
/src/backend/src/security/* @security-team

# Frontend codebase ownership
/src/web/* @frontend-team

# Infrastructure and deployment
/infrastructure/* @devops-team
/.github/workflows/* @devops-team @security-team
*.tf @devops-team @security-team
*.yaml @devops-team

# Security-sensitive files
package*.json @security-team
*.env.* @security-team @devops-team

# Documentation ownership
/docs/* @global-maintainers @backend-team @frontend-team

# Test ownership follows implementation ownership
/src/backend/tests/* @backend-team
/src/web/tests/* @frontend-team

# API contracts require cross-team review
/src/backend/src/api/* @backend-team @frontend-team

# Database migrations require extra scrutiny
/src/backend/src/migrations/* @backend-team @security-team @devops-team

# Shared utilities and common code
/src/shared/* @backend-team @frontend-team

# Security policy and compliance documents
/SECURITY.md @security-team
/COMPLIANCE.md @security-team

# Build and dependency configurations
/docker/* @devops-team
/kubernetes/* @devops-team
/.dockerignore @devops-team
/docker-compose*.yml @devops-team

# CI/CD and automation
/.github/actions/* @devops-team
/.github/CODEOWNERS @security-team @global-maintainers
